name: PowerShell CI/CD

on:
  push:
    branches:
      - main

jobs:
  run-powershell:
    runs-on: windows-latest  
    environment: Production

    steps:
      # Step 1: Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4
      # Step 2: Check PowerShell script syntax only (without execution)
      - name: Check PowerShell script
        shell: pwsh
        run: |
           try {
              ./scripts/2-PShellScript.ps1 -SyntaxCheck
              Write-Host "Syntax check passed"
            } catch {
                Write-Host "Syntax check failed: $_ "
                exit 1
            }

      # Step 3: Upload artifacts (optional)
      - name: Upload output
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: script-output
          path: output/

      # Step 4: List the uploaded artifacts
      - name: List uploaded artifacts
        if: success()
        run: |
          echo "Uploaded Artifacts:"
          ls output/